
body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF5E1; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    border-bottom: 2px solid #D4AF37; 
    display: flex;
    align-items: center;             
    justify-content: space-between;   
    padding: 0 100px;
    box-sizing: border-box;
    z-index: 100;
}


.nomeProfessor {
    color: #D4AF37;       
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
}



.navegacao {
    display: flex;
    align-items: center;
    gap: 25px; 
}


.navegacao a {
    color: #FFF5E1;                
    text-decoration: none;
    font-size: 17px;
    padding: 8px 20px;
    border: 1px solid #D4AF37;     
    border-radius: 10px;
    background-color: transparent;
    transition: none;              
}





.navegacao a.ativo {
    background-color: #D4AF37; 
    color: #000;             
    font-weight: bold;
}


main {
    padding-top: 120px; 
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #111;
    color: #FFF5E1;
    box-shadow: 0 4px 10px rgba(212, 175, 55, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #D4AF37;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #D4AF37;
    color: #000;
}



.email, .telefone {
    color: #D4AF37;
    border: 1px solid #D4AF37;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    background-color: #111;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.linkinsta, .linkemail {
    color: #D4AF37;
    text-decoration: none;
    font-weight: bold;
}

